@use '../../scss/abstracts/variables.module.scss' as variables;

.container_styles {
    background-color: variables.$yellow;

    .nav_logo {
        max-height: 34px;
        margin: 12px 0;
    }

    .form_input {
        font-size: 18px;
        margin: 12px 0;
        border: none;
    }

    .form_button {
        margin: 12px 0;
        background-color: variables.$gray-e;
        border: none;
    }
}