// Colors
$yellow: #ffe600;
$gray-3: #333333;
$gray-6: #666666;
$gray-9: #999999;
$gray-e: #eeeeee;
$blue: #3483fa;

// Paddings
$padding-14: 14px;
$padding-16: 16px;
$padding-24: 24px;
$padding-32: 32px;
$padding-46: 46px;
